// Created by fran on 15/03/16.
html
    head
        title Jasmine Tests
        link(rel='stylesheet', href='./node_modules/jasmine-core/lib/jasmine-core/jasmine.css')
        script(src='./node_modules/jasmine-core/lib/jasmine-core/jasmine.js')
        script(src='./node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js')
        script(src='./node_modules/jasmine-core/lib/jasmine-core/boot.js')
    body
        script(src='./app/angular/angular.spec.js')
        script(src='./app/bio/bio.spec.js')
        script(src='./app/economics/economics.spec.js')
        script(src='./app/economics/graph/graph.spec.js')
        script(src='./app/layout/layout.spec.js')