
<!-- Created by fran on 25/02/16.-->
<div class="top-bar">
  <div class="top-bar-title">
    <div class="menu-text"><strong><a href="/">Francisco Arantes</a></strong></div>
  </div>
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="mailto:francisco@arantes.eu"><i class="icon ion-at"></i></a></li>
      <li><a href="https://fr.linkedin.com/in/franciscoarantesrodrigues"><i class="icon ion-social-linkedin"></i></a></li>
      <li><a href="https://github.com/farantesrodrigues"><i class="icon ion-social-github"></i></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a [routerLink]="[&quot;Bio&quot;]">Bio</a></li>
      <li><a [routerLink]="[&quot;Angular&quot;]"><i class="icon ion-social-javascript"></i><i class="icon ion-social-angular"></i><i class="icon ion-social-python"></i><span>Code</span></a></li>
      <li><a [routerLink]="[&quot;Economics&quot;]">Other</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>